<%- include('partials/devHeader'); -%>
    <!---------------------------Head---------------------->
    <!-- blogs section started -->

    <section id="blogs" style="padding-top: 9vh">
        <div class="boundaryWidth mx-auto sectionDiv">
            <h3>HEY THERE</h3>
            <h1>This is my Blogs.</h1>
            <p>Student of CS, Open-source enthusiast and Photographer</p>
        </div>
    </section>

    <!-- home section ended -->
    <!-------------------------------foot------------------------->
    <%- include('partials/devFooter'); -%>