<%- include('partials/devHeader'); -%>
    <!---------------------------Head---------------------->
    <!-- blogs section started -->

    <section id="home" style="padding-top: 9vh">

        <div class="boundaryWidth mx-auto sectionDiv">
            <h2 class="display-6">Understand YAML who already knows JSON.</h2>
        </div>
    </section>

    <!-- blogs section ended -->

    <!-------------------------------foot------------------------->
    <%- include('partials/devFooter'); -%>