<%- include('partials/devHeader'); -%>
  <!---------------------------Head---------------------->
  <!-- home section started -->

  <section id="home" style="padding-top: 9vh">
    <div class="boundaryWidth mx-auto sectionDiv">
      <h3>HEY THERE</h3>
      <h1>I'm Debasish.</h1>
      <p>Student of CS, Open-source enthusiast and Photographer</p>
    </div>
  </section>

  <!-- home section ended -->

  <!-- about section started  -->

  <section id="about" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#about</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#about</h1>


      <div class="container">

        <div class="row">

          <div class="col">

          </div>

          <div class="vr" style="padding: 0;"></div>

          <div class="col aboutLeft">
            <img class="circle aboutImage" src="https://avatars.githubusercontent.com/Debasishbsws"
              alt="Debasish-Profile">
            <h2 class="display-6">Debasish Biswas</h2>
          </div>

        </div>

      </div>



    </div>
  </section>

  <!-- about section ended  -->

  <!-- gallery section started -->

  <section id="gallery" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#gallery</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#gallery</h1>

      <!-- carousel started  -->
      <div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="carousel-item">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white  rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-4 pb-2 text-white text-shadow-1 bg-primary">
                    <h3 class="mb-2 lh-1 display-6">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <hr>
                    <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                      incididunt ut
                      labore et dolore magna
                      aliqua.</p>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- carousel ended -->




    </div>
  </section>

  <!-- gallery section ended -->

  <!-- Contact section started  -->
  <!-- about section started  -->

  <section id="contact" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#contact</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#contact</h1>






    </div>
  </section>
  <!-- Contact section ended  -->
  <!-------------------------------foot------------------------->
  <%- include('partials/devFooter'); -%>