<%- include('partials/devHeader'); -%>
  <!---------------------------Head---------------------->
  <!-- home section started -->

  <section id="home" style="padding-top: 9vh">
    <div class="boundaryWidth mx-auto sectionDiv">
      <h3>HEY THERE</h3>
      <h1>I'm Debasish.</h1>
      <p>Student of CS, Open-source enthusiast and Photographer</p>
    </div>
  </section>

  <!-- home section ended -->

  <!-- gallery section started -->

  <section id="gallery" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#gallery</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#gallery</h1>


      <div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- <img src="..." class="d-block w-100" alt="..."> -->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-primary rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="mb-2 lh-1 ">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="mb-5 lh-1 ">
                      Computer-Voting-System-using-C-
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="mb-2 lh-1">
                      Travel-Agency-Website
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">
              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-primary rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="mb-2 lh-1 ">
                      Blog-Post-Website-Using-Node-js
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="mb-5 lh-1 ">
                      Computer-Voting-System-using-C-
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="mb-2 lh-1">
                      Travel-Agency-Website
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <a href="#">
                          <h3><i class="bi bi-github"></i></h3>
                        </a>
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <a class="btn btn-dark">Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>




    </div>
  </section>

  <!-- gallery section ended -->
  <!-------------------------------foot------------------------->
  <%- include('partials/devFooter'); -%>