
body {
    background-image: linear-gradient(to bottom right, rgb(197, 157, 209), rgb(70, 51, 199));
    /* filter: blur(8px);  */
}

.boundaryWidth{
    width: 84%;
}

.navbar {
    margin-top: 2vh;
    border-radius: 10px;
}
.codeIcon {
    display: inline;
    size: 3rem;
}
.navSignature {
    min-height: 3vh;
    max-height: 6vh;
}

.sectionDiv {
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2vh 7%;
    border-radius: 10px;
    min-height: 84vh;
}
.titleDiv{
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    min-height: 10vh;
}
.asideSecDiv {
    margin-left: 1vh; padding: 2vh 2%;
}
.circle {
    border-radius: 100%;
}

/* carousel items css */
.carousel-control-prev {
    margin-left: -130px;
}
.carousel-control-next {
    margin-right: -130px;
}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
.col {
    height: 60vh;
}
/* .carouslrCard {
    background-color: aqua;
} */
.inlineText{
    display: inline;
}
.aboutLeft {
    padding-left: 2vw;
}
.aboutImage {
    /* margin-left: 2vw; */
    height: 50%;
    margin-bottom: 2vh;
    margin-right: 2vw;
    float: right;
}