
body {
    background-image: linear-gradient(to bottom right, rgb(197, 157, 209), rgb(70, 51, 199));
    /* filter: blur(8px);  */
}

img {
    max-width: 100%;
}

.boundaryWidth{
    width: 84%;
}

.navbar {
    margin-top: 2vh;
    border-radius: 10px;
}
.codeIcon {
    display: inline;
    size: 3rem;
}
.navSignature {
    min-height: 3vh;
    max-height: 6vh;
}

.sectionDiv {
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2vh 7%;
    border-radius: 10px;
    min-height: 84vh;
}
.titleDiv{
    background-color: white;
    margin-top: 5vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    min-height: 10vh;
}
.asideSecDiv {
    margin-left: 1vh; padding: 2vh 2%;
}
.circle {
    border-radius: 100%;
}

/* carousel items css */
.carousel-control-prev {
    margin-left: -130px;
}
.carousel-control-next {
    margin-right: -130px;
}
.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}
.col {
    height: 60vh;
}
/* .carouslrCard {
    background-color: aqua;
} */
.inlineText{
    display: inline;
}
.aboutLeft {
    padding-left: 2vw;
}
.aboutImage {
    /* margin-left: 2vw; */
    height: 50%;
    margin-bottom: 2vh;
    margin-right: 2vw;
    float: right;
}

.btn-linkedin {
	  background: #0E76A8;
	  color: #fff;
	  border-width: 1px;
	  border-style: none;
	}
	.btn-linkedin:link, .btn-linkedin:visited {
	  color: #fff;
	}
	.btn-linkedin:active, .btn-linkedin:hover {
	  background: #084461;
	  color: #fff;
	}

.btn-twitter {
	  background: #00ACEE;
	  color: #fff;
	  border-width: 1px;
	  border-style: none;
	}
	.btn-twitter:link, .btn-twitter:visited {
	  color: #fff; 
	}
	.btn-twitter:active, .btn-twitter:hover {
	  background: #0075a2;
	  color: #fff; 
	}

.btn-insta {
	  background: radial-gradient(circle at 30% 107%, #e7df99 0%, #e8e191 1%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	  color: #fff;
	  border-width: 1px;
	  border-style: none;
	  
	}
	.btn-twitter:link, .btn-twitter:visited {
	  color: #fff; 
	}
	.btn-twitter:active, .btn-twitter:hover {
	  background: #0075a2;
	  color: #fff; 
	}